<section class="vh-100 gradient-custom">
    <div>
        <h1 class="text-center">Together</h1>

    </div>
    <div class="user_btn">
        <p>Wellcome {{username}} to Webchat</p>
        <p>Hope you will have a pleasant experience with our website!. </p>
        <a href="user1">User1</a>
        <a href="user2">User2</a>

    </div>
    <form action="/logout" method="get">
        <button class="logout_btn" type="submit">Log Out</button>
    </form>

</section>